<div class="register modal">
	<div class="modal-container">
		<img src="img/modal-bg.png" alt="" class="modal-bg">
		<div class="modal-content">
			<form method="get" accept-charset="utf-8">
				<input type="text" name="" value="" placeholder="电话">
				<input type="text" name="" value="" placeholder="姓名">
			</form>
		</div>
		<div class="btns">
			<button type="button" class="register-btn btn" ng-click="closeThisDialog('share')">注册</button>
		</div>
		<span class="close" ng-click="closeThisDialog()">x</span>
	</div>
</div>