<div class="game">
    <div id="gamecontainer">
        <img src="img/board.png" alt="" class="board">
        <div class="blocks">
            <div class="block" ng-repeat="block in game.matrix track by $index" ng-click="choose($index)">
                <img ng-src="{{res.url + block + res.extension}}" alt="">
            </div>
        </div>
        <div class="numbers" ng-show="game.status && game.status == 'started'">
            <div class="time" data-time="90">
                {{game.time}}
                <span>s</span>
            </div>
            <div class="score" data-score="0" ng-bind="game.score">
                
            </div>
        </div>
        <div class="action btns" ng-hide="game.status && game.status == 'started'">
            <input type="button" value="开始" class="start btn" ng-click="start()">
        </div>
    </div>
    <div class="rank">
        <img src="img/rank.png" alt="">
        <div class="btns">
            <a href="" title="" ng-click="myscore()"><img src="img/btns/myscore.png" alt=""></a>
            <a href="#rules" title=""><img src="img/btns/see-rules.png" alt=""></a>
        </div>
    </div>
</div>